body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input{
    margin-right: 20px
}
p{
    cursor:copy;
}
.contenido{
    margin: 0 5%
}

nav .container{
    margin: 0 0.5%;
    width: auto;
}
